In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('sicdata13.csv',na_values='')
df.head(5)

  incorporationdate  postcode  SIC2018 company2013 company2018
0        2009-01-05   RG1 2QU    45200      Active      Active
1        2009-01-05  SW17 7PY    62020      Active      Active
2        2009-01-05  DE55 7HH    84250      Active      Active
3        2009-01-05   SL7 3DF    56102      Active      Active
4        2009-01-05    G1 4AG    93199      Active   NotActive

In [4]:
df

       incorporationdate  postcode  SIC2018 company2013 company2018
0             2009-01-05   RG1 2QU    45200      Active      Active
1             2009-01-05  SW17 7PY    62020      Active      Active
2             2009-01-05  DE55 7HH    84250      Active      Active
3             2009-01-05   SL7 3DF    56102      Active      Active
4             2009-01-05    G1 4AG    93199      Active   NotActive
5             2009-01-05  SW1W 9QQ    99999      Active      Active
6             2009-01-05   N21 3NA    99999      Active      Active
7             2009-01-05   BB9 7AW    59112      Active      Active
8             2009-01-05   SK6 5DW    74100      Active      Active
9             2009-01-05   N12 8RT    55100      Active      Active
10            2009-01-05   HA9 8HB    46180      Active      Active
11            2009-01-05   HA9 8HA    69202      Active      Active
12            2009-01-05  WC2A 3PE    94990      Active      Active
13            2009-01-05   WV1 4EG    64209      Active      Active
14            2009-01-05   BR7 6BY    43342      Active      Active
15            2009-01-05   HA8 6PG    71111      Active      Active
16            2009-01-05  EC1A 9ET    78109      Active      Active
17            2009-01-05  TN12 5AZ    69202      Active      Active
18            2009-01-05   RH8 0ND    46170      Active      Active
19            2009-01-05   CM6 1AE    56103      Active   NotActive
20            2009-01-05   LE8 6ZG    68209      Active      Active
21            2009-01-05   HP2 7SS    82990      Active      Active
22            2009-01-05   RG7 8NN    36000      Active   NotActive
23            2009-01-05   RH2 8JX    70229      Active      Active
24            2009-01-05   N12 0DR    62020      Active      Active
25            2009-01-05   LE1 6TE    70210   NotActive   NotActive
26            2009-01-05  KT18 7RY    96090      Active   NotActive
27            2009-01-05  LS12 2HL    62012      Active      Active
28            2009-01-05  HP10 9TJ    46190      Active   NotActive
29            2009-01-05   HD1 3HY    47190      Active      Active
...                  ...       ...      ...         ...         ...
363774        2013-03-28   CH8 7RD    81300      Active      Active
363775        2013-03-28  SW18 1RB    70221      Active      Active
363776        2013-03-28  SW11 2UE    70229      Active      Active
363777        2013-03-28  CF11 7AW    74990      Active      Active
363778        2013-03-28   DH8 0UF    70229      Active      Active
363779        2013-03-28   SW6 4TJ    99999      Active      Active
363780        2013-03-28   AL5 4EE    62011      Active      Active
363781        2013-03-28    N7 0BD    38110      Active   NotActive
363782        2013-03-28   IP7 5EA    74909      Active      Active
363783        2013-03-28  BN27 1DW    69201      Active      Active
363784        2013-03-28   CR8 2AD    99999      Active      Active
363785        2013-03-28  PR25 3AB    56210      Active      Active
363786        2013-03-28   SW4 9HR    70229      Active      Active
363787        2013-03-28   BN1 5NP    93130      Active      Active
363788        2013-03-28   N12 0DR    62012      Active      Active
363789        2013-03-28   WA5 1ZH    86101      Active      Active
363790        2013-03-28   CW3 0AG    47620      Active      Active
363791        2013-03-28  WR12 7RR    56290      Active      Active
363792        2013-03-28   ML3 6DA    71122      Active      Active
363793        2013-03-28  WD17 4RR    68209      Active      Active
363794        2013-03-28   MK8 0LG    70229      Active      Active
363795        2013-03-28  EH54 7AW    16100      Active      Active
363796        2013-03-28   SL3 7RB    99999      Active      Active
363797        2013-03-28   PE2 6XU    69201      Active      Active
363798        2013-03-28   PE2 6XU    69202      Active      Active
363799        2013-03-28   TA6 3YF    68209      Active      Active
363800        2013-03-28   E12 5JL    74909      Active      Active
363801        2013-03-28  PE21 9PQ    47722      Active      Active
363802        2013-03-28  BH21 1JL    74909      Active      Active
363803        2013-03-28  WC1X 8UE    56290      Active      Active

[363804 rows x 5 columns]

In [5]:
data=pd.read_csv('SIC_integer.csv',na_values='')
data.head(5)

,incorporationdate,postcode,companycategory,companystatus,CompanyCategory,CompanyStatus,IncorporationDate,SIC_2013,SIC2018,SICcombine
0,1992-05-12,SE4 1NQ,Private Limited Company,Active,Private Limited Company,Active,12/05/1992,90010,90010,90010.0
1,1999-07-22,TN11 9PL,Private Limited Company,Active,Private Limited Company,Active,22/07/1999,70229,70229,70229.0
2,2007-11-28,GU21 5TS,Private Limited Company,Active,Private Limited Company,Active,28/11/2007,99999,99999,99999.0
3,2008-01-15,WD6 1JD,Private Limited Company,Active,Private Limited Company,Active,15/01/2008,56101,56101,56101.0
4,2002-07-25,OL2 7DD,Private Limited Company,Active,Private Limited Company,Active,25/07/2002,86230,86230,86230.0

In [6]:
data

,incorporationdate,postcode,companycategory,companystatus,CompanyCategory,CompanyStatus,IncorporationDate,SIC_2013,SIC2018,SICcombine
0,1992-05-12,SE4 1NQ,Private Limited Company,Active,Private Limited Company,Active,12/05/1992,90010,90010,90010.0
1,1999-07-22,TN11 9PL,Private Limited Company,Active,Private Limited Company,Active,22/07/1999,70229,70229,70229.0
2,2007-11-28,GU21 5TS,Private Limited Company,Active,Private Limited Company,Active,28/11/2007,99999,99999,99999.0
3,2008-01-15,WD6 1JD,Private Limited Company,Active,Private Limited Company,Active,15/01/2008,56101,56101,56101.0
4,2002-07-25,OL2 7DD,Private Limited Company,Active,Private Limited Company,Active,25/07/2002,86230,86230,86230.0
5,2005-12-12,HA2 6AU,Private Limited Company,Active,Private Limited Company,Active,12/12/2005,68209,68209,68209.0
6,1984-01-19,WC2B 6QX,Private Limited Company,Active,Private Limited Company,Active,19/01/1984,82990,46711,NaN
7,2004-12-21,LE12 7TZ,Private Limited Company,Active,Private Limited Company,Active,21/12/2004,82990,43220,NaN
8,1964-06-03,SM7 2NL,Private Limited Company,Liquidation,Private Limited Company,Liquidation,03/06/1964,0,0,NaN
9,1993-11-12,W12 8LA,Private Limited Company,Active,Private Limited Company,Active,12/11/1993,68209,68100,NaN
10,1978-08-07,NR2 2AL,Private Limited Company,Active,Private Limited Company,Active,07/08/1978,68320,68320,68320.0
11,2002-04-30,PE30 1LT,Private Limited Company,Active,Private Limited Company,Active,30/04/2002,56101,56101,56101.0
12,1927-11-26,DT11 0PX,"PRI/LTD BY GUAR/NSC (Private, limited by guara...",Active,"PRI/LTD BY GUAR/NSC (Private, limited by guara...",Active,26/11/1927,85310,85310,85310.0
13,1998-12-21,LS22 6SN,Private Limited Company,Active,Private Limited Company,Active,21/12/1998,45310,45310,45310.0
14,1986-11-21,NW3 1EH,Private Limited Company,Active,Private Limited Company,Active,21/11/1986,99999,74990,NaN
15,1899-07-27,N6 5HF,"PRI/LTD BY GUAR/NSC (Private, limited by guara...",Active,"PRI/LTD BY GUAR/NSC (Private, limited by guara...",Active,27/07/1899,85200,85200,85200.0
16,2006-05-16,BT78 1LE,Private Limited Company,Active,Private Limited Company,Active,16/05/2006,41100,41100,41100.0
17,2004-08-20,NW7 2DQ,Private Limited Company,Active,Private Limited Company,Active,20/08/2004,96090,96090,96090.0
18,1996-12-19,SG6 9BL,Private Limited Company,Active,Private Limited Company,Active,19/12/1996,47591,47591,47591.0
19,1984-03-07,WF8 4BG,"PRI/LTD BY GUAR/NSC (Private, limited by guara...",Active,"PRI/LTD BY GUAR/NSC (Private, limited by guara...",Active,07/03/1984,86101,86101,86101.0
20,1985-10-02,TQ1 3NT,Private Limited Company,Active,Private Limited Company,Active,02/10/1985,98000,98000,98000.0
21,1998-07-03,BT82 8DX,Private Limited Company,Active,Private Limited Company,Active,03/07/1998,14132,14131,NaN
22,1965-06-14,BR3 5BZ,Private Limited Company,Active,Private Limited Company,Active,14/06/1965,98000,98000,98000.0
23,2009-03-02,B18 6EW,Private Limited Company,Active,Private Limited Company,Active,02/03/2009,82990,82990,82990.0
24,1998-07-29,IG1 1BA,Private Limited Company,Active,Private Limited Company,Active,29/07/1998,61900,61900,61900.0
25,1992-01-31,PO30 1JW,"PRI/LTD BY GUAR/NSC (Private, limited by guara...",Active,"PRI/LTD BY GUAR/NSC (Private, limited by guara...",Active,31/01/1992,90020,90020,90020.0
26,2005-03-19,E2 0LT,Limited Partnership,Active,Limited Partnership,Active,19/03/2005,0,0,NaN
27,1999-12-15,SK12 1GA,Private Limited Company,Active,Private Limited Company,Active,15/12/1999,41202,41202,41202.0
28,1927-12-22,CT12 6RR,Private Limited Company,Active,Private Limited Company,Active,22/12/1927,96010,96010,96010.0
29,1988-11-17,TW14 0SL,Private Limited Company,Active,Private Limited Company,Active,17/11/1988,52230,52230,52230.0
...,...,...,...,...,...,...,...,...,...,...
1148226,1973-09-20,S1 1WF,Private Limited Company,Liquidation,Private Limited Company,Liquidation,20/09/1973,0,4532,NaN
1148227,2001-02-07,B28 0EL,Private Limited Company,Liquidation,Private Limited Company,Liquidation,07/02/2001,0,5020,NaN
1148228,1973-10-24,HU8 7AJ,Private Limited Company,Active,Private Limited Company,Active,24/10/1973,0,2922,NaN
1148229,1944-06-22,WA16 9PD,Private Limited Company,Active,Private Limited Company,Active,22/06/1944,0,0,NaN
1148230,1906-11-06,G21 2PN,Private Limited Company,Active,Private Limited Company,Active,06/11/1906,0,0,NaN
1148231,1963-04-22,B3 2DL,Private Limited Company,Liquidation,Private Limited Company,Liquidation,22/04/1963,0,9999,NaN
1148232,2004-03-23,FY8 5LU,Private Limited Company,Active,Private Limited Company,Active,23/03/2004,0,47599,NaN
1148233,1967-06-26,HX5 9JR,Private Limited Company,Active,Private Limited Company,Active,26/06/1967,0,7499,NaN
1148234,1976-09-23,ML3 6DA,Private Limited Company,Active,Private Limited Company,Active,23/09/1976,0,0,NaN
1148235,2010-03-23,SY2 6LG,Private Unlimited Company,Active,Private Unlimited Company,Active,23/03/2010,0,7499,NaN
1148236,1972-07-18,HD5 0AB,Private Limited Company,Active,Private Limited Company,Active,18/07/1972,0,6312,NaN
1148237,1927-12-31,EC2V 7NQ,Private Limited Company,Liquidation,Private Limited Company,Liquidation,31/12/1927,0,0,NaN
1148238,1973-07-24,B3 3SD,Private Limited Company,Liquidation,Private Limited Company,Liquidation,24/07/1973,0,3663,NaN
1148239,1952-02-19,B3 2DB,Private Limited Company,Liquidation,Private Limited Company,Liquidation,19/02/1952,0,0,NaN
1148240,1915-12-02,IG1 4AQ,Private Limited Company,Active,Private Limited Company,Active,02/12/1915,0,7499,NaN
1148241,1912-12-23,TN1 1JP,Private Limited Company,Active,Private Limited Company,Active,23/12/1912,0,7011,NaN
1148242,1944-08-21,G4 9JT,Private Limited Company,Active,Private Limited Company,Active,21/08/1944,0,4522,NaN
1148243,1981-10-29,WS8 7BB,Private Limited Company,Active,Private Limited Company,Active,29/10/1981,0,0,NaN
1148244,1961-12-01,S70 2EX,Private Limited Company,Liquidation,Private Limited Company,Liquidation,01/12/1961,0,0,NaN
1148245,1939-01-09,B3 2HJ,Public Limited Company,Liquidation,Public Limited Company,Liquidation,09/01/1939,0,5010,NaN
1148246,1923-03-29,WF17 9EJ,Private Limited Company,Liquidation,Private Limited Company,Liquidation,29/03/1923,0,4521,NaN
1148247,1949-01-01,SW1W 9BJ,Private Limited Company,Active,Private Limited Company,Active,01/01/1949,0,7499,NaN
1148248,2002-02-21,NN3 8RH,Private Limited Company,Active,Private Limited Company,Active,21/02/2002,0,2222,NaN
1148249,1981-09-03,CF1 1DE,Private Limited Company,Liquidation,Private Limited Company,Liquidation,03/09/1981,0,0,NaN
1148250,1958-08-08,SS8 0PQ,Private Limited Company,Active,Private Limited Company,Active,08/08/1958,0,2852,NaN
1148251,1984-10-16,S1 2ET,Private Limited Company,Liquidation,Private Limited Company,Liquidation,16/10/1984,0,2751,NaN
1148252,1994-05-20,NG2 1RT,Private Limited Company,Active,Private Limited Company,Active,20/05/1994,0,9305,NaN
1148253,1925-06-04,B1 1LN,Private Limited Company,Liquidation,Private Limited Company,Liquidation,04/06/1925,0,0,NaN
1148254,1991-03-12,RG19 4LW,Private Limited Company,Active,Private Limited Company,Active,12/03/1991,0,7499,NaN
1148255,1973-03-22,M60 2AT,Private Limited Company,Active,Private Limited Company,Active,22/03/1973,0,2811,NaN

In [7]:
data.dtypes

incorporationdate     object
postcode              object
companycategory       object
companystatus         object
CompanyCategory       object
CompanyStatus         object
IncorporationDate     object
SIC_2013               int64
SIC2018                int64
SICcombine           float64
dtype: object

In [25]:
data=data.set_index('postcode')

In [8]:
postcode = pd.read_csv('/Users/jyothigupta/Documents/UCL/GIS/GIS class/week 1/Postcode.csv',na_values='')
postcode.head(5)

/Users/jyothigupta/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,pcd7,pcd8,pcds,dointr,doterm,usertype,oa11cd,lsoa11cd,msoa11cd,ladcd,lsoa11nm,msoa11nm,ladnm,ladnmw,FID
0,AB118RJ,AB11 8RJ,AB11 8RJ,199606,0,0,S00089089,S01006635,S02001258,S12000033,Torry East - 05,Torry East,Aberdeen City,NaN,4001
1,AB116WH,AB11 6WH,AB11 6WH,199606,0,0,S00090554,S01006591,S02001251,S12000033,Ferryhill North - 01,Ferryhill North,Aberdeen City,NaN,4002
2,AB116YW,AB11 6YW,AB11 6YW,199606,0,1,S00090575,S01006582,S02001249,S12000033,City Centre West - 01,City Centre West,Aberdeen City,NaN,4003
3,AB118RL,AB11 8RL,AB11 8RL,199606,0,0,S00089089,S01006635,S02001258,S12000033,Torry East - 05,Torry East,Aberdeen City,NaN,4004
4,AB118YB,AB11 8YB,AB11 8YB,199707,199801,1,S00090467,S01006636,S02001258,S12000033,Torry East - 06,Torry East,Aberdeen City,NaN,4005

In [16]:
postcode[['pcd7','pcd8','pcds']]

            pcd7      pcd8      pcds
0        AB118RJ  AB11 8RJ  AB11 8RJ
1        AB116WH  AB11 6WH  AB11 6WH
2        AB116YW  AB11 6YW  AB11 6YW
3        AB118RL  AB11 8RL  AB11 8RL
4        AB118YB  AB11 8YB  AB11 8YB
5        AB116WJ  AB11 6WJ  AB11 6WJ
6        AB116YX  AB11 6YX  AB11 6YX
7        AB118RN  AB11 8RN  AB11 8RN
8        AB118YD  AB11 8YD  AB11 8YD
9        AB116WL  AB11 6WL  AB11 6WL
10       AB116ZA  AB11 6ZA  AB11 6ZA
11       AB118RP  AB11 8RP  AB11 8RP
12       AB118YE  AB11 8YE  AB11 8YE
13       AB116WN  AB11 6WN  AB11 6WN
14       AB118AA  AB11 8AA  AB11 8AA
15       AB119JJ  AB11 9JJ  AB11 9JJ
16       AB117SY  AB11 7SY  AB11 7SY
17       AB116ZB  AB11 6ZB  AB11 6ZB
18       AB116ZD  AB11 6ZD  AB11 6ZD
19       AB116ZE  AB11 6ZE  AB11 6ZE
20       AB116ZF  AB11 6ZF  AB11 6ZF
21       AB116ZG  AB11 6ZG  AB11 6ZG
22       AB116ZH  AB11 6ZH  AB11 6ZH
23       AB116ZJ  AB11 6ZJ  AB11 6ZJ
24       AB116ZL  AB11 6ZL  AB11 6ZL
25       AB116ZN  AB11 6ZN  AB11 6ZN
26       AB116ZP  AB11 6ZP  AB11 6ZP
27       AB116ZR  AB11 6ZR  AB11 6ZR
28       AB116ZS  AB11 6ZS  AB11 6ZS
29       AB116ZT  AB11 6ZT  AB11 6ZT
...          ...       ...       ...
2616808  TN1 2DX  TN1  2DX   TN1 2DX
2616809  TN1 2DY  TN1  2DY   TN1 2DY
2616810  TN1 2DZ  TN1  2DZ   TN1 2DZ
2616811  TN1 2EA  TN1  2EA   TN1 2EA
2616812  TN1 2EB  TN1  2EB   TN1 2EB
2616813  TN1 2ED  TN1  2ED   TN1 2ED
2616814  TN1 1XH  TN1  1XH   TN1 1XH
2616815  TN1 2HQ  TN1  2HQ   TN1 2HQ
2616816  TN1 1XJ  TN1  1XJ   TN1 1XJ
2616817  TN1 2HR  TN1  2HR   TN1 2HR
2616818  TN1 1XL  TN1  1XL   TN1 1XL
2616819  TN1 2HS  TN1  2HS   TN1 2HS
2616820  TN1 1XN  TN1  1XN   TN1 1XN
2616821  TN1 2HT  TN1  2HT   TN1 2HT
2616822  TN1 1XP  TN1  1XP   TN1 1XP
2616823  TN1 2HU  TN1  2HU   TN1 2HU
2616824  TN1 2HW  TN1  2HW   TN1 2HW
2616825  TN1 2HX  TN1  2HX   TN1 2HX
2616826  TN1 2HY  TN1  2HY   TN1 2HY
2616827  TN1 2HZ  TN1  2HZ   TN1 2HZ
2616828  TN1 1XQ  TN1  1XQ   TN1 1XQ
2616829  TN1 1XR  TN1  1XR   TN1 1XR
2616830  TN1 1XS  TN1  1XS   TN1 1XS
2616831  TN1 1XT  TN1  1XT   TN1 1XT
2616832  TN1 1XU  TN1  1XU   TN1 1XU
2616833  TN1 1XW  TN1  1XW   TN1 1XW
2616834  TN1 1XX  TN1  1XX   TN1 1XX
2616835  TN1 1XY  TN1  1XY   TN1 1XY
2616836  TN1 1XZ  TN1  1XZ   TN1 1XZ
2616837  TN1 1YA  TN1  1YA   TN1 1YA

[2616838 rows x 3 columns]

In [17]:
#this is to check is the postcode for 2013 SIC is matching with 2018 SIC
postcode['Postcode'] = np.where((postcode['pcd7'] == postcode['pcd8']) 
                     , postcode['pcd7'], np.nan)

In [18]:
postcode['Postcode']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
          ...
2616808    NaN
2616809    NaN
2616810    NaN
2616811    NaN
2616812    NaN
2616813    NaN
2616814    NaN
2616815    NaN
2616816    NaN
2616817    NaN
2616818    NaN
2616819    NaN
2616820    NaN
2616821    NaN
2616822    NaN
2616823    NaN
2616824    NaN
2616825    NaN
2616826    NaN
2616827    NaN
2616828    NaN
2616829    NaN
2616830    NaN
2616831    NaN
2616832    NaN
2616833    NaN
2616834    NaN
2616835    NaN
2616836    NaN
2616837    NaN
Name: Postcode, Length: 2616838, dtype: object

In [19]:
postcode

,pcd7,pcd8,pcds,dointr,doterm,usertype,oa11cd,lsoa11cd,msoa11cd,ladcd,lsoa11nm,msoa11nm,ladnm,ladnmw,FID,Postcode
0,AB118RJ,AB11 8RJ,AB11 8RJ,199606,0,0,S00089089,S01006635,S02001258,S12000033,Torry East - 05,Torry East,Aberdeen City,NaN,4001,NaN
1,AB116WH,AB11 6WH,AB11 6WH,199606,0,0,S00090554,S01006591,S02001251,S12000033,Ferryhill North - 01,Ferryhill North,Aberdeen City,NaN,4002,NaN
2,AB116YW,AB11 6YW,AB11 6YW,199606,0,1,S00090575,S01006582,S02001249,S12000033,City Centre West - 01,City Centre West,Aberdeen City,NaN,4003,NaN
3,AB118RL,AB11 8RL,AB11 8RL,199606,0,0,S00089089,S01006635,S02001258,S12000033,Torry East - 05,Torry East,Aberdeen City,NaN,4004,NaN
4,AB118YB,AB11 8YB,AB11 8YB,199707,199801,1,S00090467,S01006636,S02001258,S12000033,Torry East - 06,Torry East,Aberdeen City,NaN,4005,NaN
5,AB116WJ,AB11 6WJ,AB11 6WJ,200207,200311,1,S00090554,S01006591,S02001251,S12000033,Ferryhill North - 01,Ferryhill North,Aberdeen City,NaN,4006,NaN
6,AB116YX,AB11 6YX,AB11 6YX,200302,200604,1,S00090392,S01006608,S02001254,S12000033,"Kincorth, Leggart and Nigg South - 01","Kincorth, Leggart and Nigg South",Aberdeen City,NaN,4007,NaN
7,AB118RN,AB11 8RN,AB11 8RN,199606,0,0,S00089095,S01006635,S02001258,S12000033,Torry East - 05,Torry East,Aberdeen City,NaN,4008,NaN
8,AB118YD,AB11 8YD,AB11 8YD,199612,199712,1,S00089080,S01006632,S02001258,S12000033,Torry East - 02,Torry East,Aberdeen City,NaN,4009,NaN
9,AB116WL,AB11 6WL,AB11 6WL,200201,200203,1,S00090554,S01006591,S02001251,S12000033,Ferryhill North - 01,Ferryhill North,Aberdeen City,NaN,4010,NaN
10,AB116ZA,AB11 6ZA,AB11 6ZA,199612,200309,1,S00090392,S01006608,S02001254,S12000033,"Kincorth, Leggart and Nigg South - 01","Kincorth, Leggart and Nigg South",Aberdeen City,NaN,4011,NaN
11,AB118RP,AB11 8RP,AB11 8RP,199606,0,0,S00089096,S01006634,S02001258,S12000033,Torry East - 04,Torry East,Aberdeen City,NaN,4012,NaN
12,AB118YE,AB11 8YE,AB11 8YE,199712,199812,1,S00089080,S01006632,S02001258,S12000033,Torry East - 02,Torry East,Aberdeen City,NaN,4013,NaN
13,AB116WN,AB11 6WN,AB11 6WN,200206,200306,1,S00090392,S01006608,S02001254,S12000033,"Kincorth, Leggart and Nigg South - 01","Kincorth, Leggart and Nigg South",Aberdeen City,NaN,4014,NaN
14,AB118AA,AB11 8AA,AB11 8AA,199606,0,0,S00089122,S01006630,S02001257,S12000033,Torry West - 07,Torry West,Aberdeen City,NaN,4015,NaN
15,AB119JJ,AB11 9JJ,AB11 9JJ,199606,0,0,S00089079,S01006626,S02001257,S12000033,Torry West - 03,Torry West,Aberdeen City,NaN,4016,NaN
16,AB117SY,AB11 7SY,AB11 7SY,199606,0,0,S00090544,S01006598,S02001252,S12000033,Ferryhill South - 01,Ferryhill South,Aberdeen City,NaN,4017,NaN
17,AB116ZB,AB11 6ZB,AB11 6ZB,199606,201503,1,S00090392,S01006608,S02001254,S12000033,"Kincorth, Leggart and Nigg South - 01","Kincorth, Leggart and Nigg South",Aberdeen City,NaN,4018,NaN
18,AB116ZD,AB11 6ZD,AB11 6ZD,200707,200812,1,S00090392,S01006608,S02001254,S12000033,"Kincorth, Leggart and Nigg South - 01","Kincorth, Leggart and Nigg South",Aberdeen City,NaN,4019,NaN
19,AB116ZE,AB11 6ZE,AB11 6ZE,199906,200006,1,S00090575,S01006582,S02001249,S12000033,City Centre West - 01,City Centre West,Aberdeen City,NaN,4020,NaN
20,AB116ZF,AB11 6ZF,AB11 6ZF,200112,0,1,S00090392,S01006608,S02001254,S12000033,"Kincorth, Leggart and Nigg South - 01","Kincorth, Leggart and Nigg South",Aberdeen City,NaN,4021,NaN
21,AB116ZG,AB11 6ZG,AB11 6ZG,199906,200007,1,S00090575,S01006582,S02001249,S12000033,City Centre West - 01,City Centre West,Aberdeen City,NaN,4022,NaN
22,AB116ZH,AB11 6ZH,AB11 6ZH,200411,201112,1,S00090392,S01006608,S02001254,S12000033,"Kincorth, Leggart and Nigg South - 01","Kincorth, Leggart and Nigg South",Aberdeen City,NaN,4023,NaN
23,AB116ZJ,AB11 6ZJ,AB11 6ZJ,200401,200401,1,S00090392,S01006608,S02001254,S12000033,"Kincorth, Leggart and Nigg South - 01","Kincorth, Leggart and Nigg South",Aberdeen City,NaN,4024,NaN
24,AB116ZL,AB11 6ZL,AB11 6ZL,199606,200006,1,S00090575,S01006582,S02001249,S12000033,City Centre West - 01,City Centre West,Aberdeen City,NaN,4025,NaN
25,AB116ZN,AB11 6ZN,AB11 6ZN,200201,200203,1,S00090392,S01006608,S02001254,S12000033,"Kincorth, Leggart and Nigg South - 01","Kincorth, Leggart and Nigg South",Aberdeen City,NaN,4026,NaN
26,AB116ZP,AB11 6ZP,AB11 6ZP,200402,200507,1,S00090392,S01006608,S02001254,S12000033,"Kincorth, Leggart and Nigg South - 01","Kincorth, Leggart and Nigg South",Aberdeen City,NaN,4027,NaN
27,AB116ZR,AB11 6ZR,AB11 6ZR,200101,200102,1,S00090575,S01006582,S02001249,S12000033,City Centre West - 01,City Centre West,Aberdeen City,NaN,4028,NaN
28,AB116ZS,AB11 6ZS,AB11 6ZS,200006,200011,1,S00090575,S01006582,S02001249,S12000033,City Centre West - 01,City Centre West,Aberdeen City,NaN,4029,NaN
29,AB116ZT,AB11 6ZT,AB11 6ZT,200006,200104,1,S00090575,S01006582,S02001249,S12000033,City Centre West - 01,City Centre West,Aberdeen City,NaN,4030,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2616808,TN1 2DX,TN1 2DX,TN1 2DX,198001,0,0,E00125886,E01024802,E02005169,E07000116,Tunbridge Wells 008B,Tunbridge Wells 008,Tunbridge Wells,NaN,2311971,NaN
2616809,TN1 2DY,TN1 2DY,TN1 2DY,198001,0,0,E00125884,E01024802,E02005169,E07000116,Tunbridge Wells 008B,Tunbridge Wells 008,Tunbridge Wells,NaN,2311972,NaN
2616810,TN1 2DZ,TN1 2DZ,TN1 2DZ,198001,0,0,E00125878,E01024802,E02005169,E07000116,Tunbridge Wells 008B,Tunbridge Wells 008,Tunbridge Wells,NaN,2311973,NaN
2616811,TN1 2EA,TN1 2EA,TN1 2EA,198001,0,0,E00125895,E01024802,E02005169,E07000116,Tunbridge Wells 008B,Tunbridge Wells 008,Tunbridge Wells,NaN,2311974,NaN
2616812,TN1 2EB,TN1 2EB,TN1 2EB,198001,0,0,E00126076,E01024835,E02005168,E07000116,Tunbridge Wells 007C,Tunbridge Wells 007,Tunbridge Wells,NaN,2311975,NaN
2616813,TN1 2ED,TN1 2ED,TN1 2ED,198001,0,0,E00126076,E01024835,E02005168,E07000116,Tunbridge Wells 007C,Tunbridge Wells 007,Tunbridge Wells,NaN,2311976,NaN
2616814,TN1 1XH,TN1 1XH,TN1 1XH,198704,199507,1,E00125978,E01024819,E02005173,E07000116,Tunbridge Wells 012D,Tunbridge Wells 012,Tunbridge Wells,NaN,2311977,NaN
2616815,TN1 2HQ,TN1 2HQ,TN1 2HQ,198001,0,0,E00126049,E01024834,E02005170,E07000116,Tunbridge Wells 009E,Tunbridge Wells 009,Tunbridge Wells,NaN,2311978,NaN
2616816,TN1 1XJ,TN1 1XJ,TN1 1XJ,198001,0,0,E00125975,E01024819,E02005173,E07000116,Tunbridge Wells 012D,Tunbridge Wells 012,Tunbridge Wells,NaN,2311979,NaN
2616817,TN1 2HR,TN1 2HR,TN1 2HR,198001,0,0,E00126048,E01024834,E02005170,E07000116,Tunbridge Wells 009E,Tunbridge Wells 009,Tunbridge Wells,NaN,2311980,NaN
2616818,TN1 1XL,TN1 1XL,TN1 1XL,198001,0,0,E00125973,E01024819,E02005173,E07000116,Tunbridge Wells 012D,Tunbridge Wells 012,Tunbridge Wells,NaN,2311981,NaN
2616819,TN1 2HS,TN1 2HS,TN1 2HS,198001,0,0,E00172111,E01024834,E02005170,E07000116,Tunbridge Wells 009E,Tunbridge Wells 009,Tunbridge Wells,NaN,2311982,NaN
2616820,TN1 1XN,TN1 1XN,TN1 1XN,198301,200609,1,E00125973,E01024819,E02005173,E07000116,Tunbridge Wells 012D,Tunbridge Wells 012,Tunbridge Wells,NaN,2311983,NaN
2616821,TN1 2HT,TN1 2HT,TN1 2HT,198001,0,0,E00126058,E01024834,E02005170,E07000116,Tunbridge Wells 009E,Tunbridge Wells 009,Tunbridge Wells,NaN,2311984,NaN
2616822,TN1 1XP,TN1 1XP,TN1 1XP,199712,0,0,E00125975,E01024819,E02005173,E07000116,Tunbridge Wells 012D,Tunbridge Wells 012,Tunbridge Wells,NaN,2311985,NaN
2616823,TN1 2HU,TN1 2HU,TN1 2HU,198001,0,0,E00126058,E01024834,E02005170,E07000116,Tunbridge Wells 009E,Tunbridge Wells 009,Tunbridge Wells,NaN,2311986,NaN
2616824,TN1 2HW,TN1 2HW,TN1 2HW,199806,0,1,E00126002,E01024823,E02005169,E07000116,Tunbridge Wells 008C,Tunbridge Wells 008,Tunbridge Wells,NaN,2311987,NaN
2616825,TN1 2HX,TN1 2HX,TN1 2HX,198001,0,0,E00126049,E01024834,E02005170,E07000116,Tunbridge Wells 009E,Tunbridge Wells 009,Tunbridge Wells,NaN,2311988,NaN
2616826,TN1 2HY,TN1 2HY,TN1 2HY,198001,0,0,E00126049,E01024834,E02005170,E07000116,Tunbridge Wells 009E,Tunbridge Wells 009,Tunbridge Wells,NaN,2311989,NaN
2616827,TN1 2HZ,TN1 2HZ,TN1 2HZ,198710,199706,1,E00172110,E01024833,E02005169,E07000116,Tunbridge Wells 008D,Tunbridge Wells 008,Tunbridge Wells,NaN,2311990,NaN
2616828,TN1 1XQ,TN1 1XQ,TN1 1XQ,200212,200602,1,E00126084,E01024839,E02005164,E07000116,Tunbridge Wells 003B,Tunbridge Wells 003,Tunbridge Wells,NaN,2311991,NaN
2616829,TN1 1XR,TN1 1XR,TN1 1XR,200502,0,1,E00125986,E01024823,E02005169,E07000116,Tunbridge Wells 008C,Tunbridge Wells 008,Tunbridge Wells,NaN,2311992,NaN
2616830,TN1 1XS,TN1 1XS,TN1 1XS,198001,199512,1,E00125978,E01024819,E02005173,E07000116,Tunbridge Wells 012D,Tunbridge Wells 012,Tunbridge Wells,NaN,2311993,NaN
2616831,TN1 1XT,TN1 1XT,TN1 1XT,200210,200311,1,E00125975,E01024819,E02005173,E07000116,Tunbridge Wells 012D,Tunbridge Wells 012,Tunbridge Wells,NaN,2311994,NaN
2616832,TN1 1XU,TN1 1XU,TN1 1XU,198001,0,0,E00125975,E01024819,E02005173,E07000116,Tunbridge Wells 012D,Tunbridge Wells 012,Tunbridge Wells,NaN,2311995,NaN
2616833,TN1 1XW,TN1 1XW,TN1 1XW,200411,200603,1,E00126084,E01024839,E02005164,E07000116,Tunbridge Wells 003B,Tunbridge Wells 003,Tunbridge Wells,NaN,2311996,NaN
2616834,TN1 1XX,TN1 1XX,TN1 1XX,198001,0,0,E00125978,E01024819,E02005173,E07000116,Tunbridge Wells 012D,Tunbridge Wells 012,Tunbridge Wells,NaN,2311997,NaN
2616835,TN1 1XY,TN1 1XY,TN1 1XY,198001,0,1,E00125978,E01024819,E02005173,E07000116,Tunbridge Wells 012D,Tunbridge Wells 012,Tunbridge Wells,NaN,2311998,NaN
2616836,TN1 1XZ,TN1 1XZ,TN1 1XZ,198001,0,0,E00125975,E01024819,E02005173,E07000116,Tunbridge Wells 012D,Tunbridge Wells 012,Tunbridge Wells,NaN,2311999,NaN
2616837,TN1 1YA,TN1 1YA,TN1 1YA,198001,199501,1,E00125963,E01024819,E02005173,E07000116,Tunbridge Wells 012D,Tunbridge Wells 012,Tunbridge Wells,NaN,2312000,NaN

In [20]:
postcode.columns

Index(['pcd7', 'pcd8', 'pcds', 'dointr', 'doterm', 'usertype', 'oa11cd',
       'lsoa11cd', 'msoa11cd', 'ladcd', 'lsoa11nm', 'msoa11nm', 'ladnm',
       'ladnmw', 'FID', 'Postcode'],
      dtype='object')

In [22]:
postcode = postcode.drop(['pcd7', 'pcd8', 'dointr',
       'doterm', 'ladnmw', 'Postcode'],axis=1)

In [23]:
postcode.head(3)

,pcds,usertype,oa11cd,lsoa11cd,msoa11cd,ladcd,lsoa11nm,msoa11nm,ladnm,FID
0,AB11 8RJ,0,S00089089,S01006635,S02001258,S12000033,Torry East - 05,Torry East,Aberdeen City,4001
1,AB11 6WH,0,S00090554,S01006591,S02001251,S12000033,Ferryhill North - 01,Ferryhill North,Aberdeen City,4002
2,AB11 6YW,1,S00090575,S01006582,S02001249,S12000033,City Centre West - 01,City Centre West,Aberdeen City,4003

In [24]:
postcode= postcode.set_index('pcds')

In [26]:
#merged = a.merge(b, on='ID')
result = postcode.join(data)

In [28]:
joined = data.join(postcode)

In [29]:
joined.head()

,incorporationdate,companycategory,companystatus,CompanyCategory,CompanyStatus,IncorporationDate,SIC_2013,SIC2018,SICcombine,usertype,oa11cd,lsoa11cd,msoa11cd,ladcd,lsoa11nm,msoa11nm,ladnm,FID
06 830,2008-05-28,Limited Partnership,Active,Limited Partnership,Active,28/05/2008,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06 830,2008-05-28,Limited Partnership,Active,Limited Partnership,Active,28/05/2008,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06 830,2008-05-28,Limited Partnership,Active,Limited Partnership,Active,28/05/2008,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06 830,2008-05-28,Limited Partnership,Active,Limited Partnership,Active,28/05/2008,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06 830,2008-05-28,Limited Partnership,Active,Limited Partnership,Active,28/05/2008,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
joined

,incorporationdate,companycategory,companystatus,CompanyCategory,CompanyStatus,IncorporationDate,SIC_2013,SIC2018,SICcombine,usertype,oa11cd,lsoa11cd,msoa11cd,ladcd,lsoa11nm,msoa11nm,ladnm,FID
06 830,2008-05-28,Limited Partnership,Active,Limited Partnership,Active,28/05/2008,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06 830,2008-05-28,Limited Partnership,Active,Limited Partnership,Active,28/05/2008,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06 830,2008-05-28,Limited Partnership,Active,Limited Partnership,Active,28/05/2008,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06 830,2008-05-28,Limited Partnership,Active,Limited Partnership,Active,28/05/2008,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06 830,2008-05-28,Limited Partnership,Active,Limited Partnership,Active,28/05/2008,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06 830,2008-06-20,Limited Partnership,Active,Limited Partnership,Active,20/06/2008,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06 830,2008-06-20,Limited Partnership,Active,Limited Partnership,Active,20/06/2008,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06 830,2008-06-20,Limited Partnership,Active,Limited Partnership,Active,20/06/2008,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06 830,2008-07-24,Limited Partnership,Active,Limited Partnership,Active,24/07/2008,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06 830,2007-12-27,Limited Partnership,Active,Limited Partnership,Active,27/12/2007,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19808 USA,2012-09-26,Limited Partnership,Active,Limited Partnership,Active,26/09/2012,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20 006,2010-05-28,Limited Partnership,Active,Limited Partnership,Active,28/05/2010,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20004-2505,2006-11-22,Limited Partnership,Active,Limited Partnership,Active,22/11/2006,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3 7BG,1966-12-07,Private Limited Company,Active,Private Limited Company,Active,07/12/1966,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60 606,2011-11-16,Limited Partnership,Active,Limited Partnership,Active,16/11/2011,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1922-09-06,Private Limited Company,Active,Private Limited Company,Active,06/09/1922,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AB1 1PU,1982-01-14,Private Limited Company,Active,Private Limited Company,Active,14/01/1982,52290,52290,52290.0,0.0,S00090522,S01006648,S02001261,S12000033,George Street - 04,George Street,Aberdeen City,328.0
AB1 1PU,1984-04-23,Private Limited Company,Active,Private Limited Company,Active,23/04/1984,50300,50300,50300.0,0.0,S00090522,S01006648,S02001261,S12000033,George Street - 04,George Street,Aberdeen City,328.0
AB1 1PU,1981-10-21,Private Limited Company,Active,Private Limited Company,Active,21/10/1981,52290,50200,NaN,0.0,S00090522,S01006648,S02001261,S12000033,George Street - 04,George Street,Aberdeen City,328.0
AB1 1PU,1984-01-13,Private Limited Company,Active,Private Limited Company,Active,13/01/1984,50200,50200,50200.0,0.0,S00090522,S01006648,S02001261,S12000033,George Street - 04,George Street,Aberdeen City,328.0
AB1 1PU,1993-06-30,Private Limited Company,Active,Private Limited Company,Active,30/06/1993,96090,96090,96090.0,0.0,S00090522,S01006648,S02001261,S12000033,George Street - 04,George Street,Aberdeen City,328.0
AB1 1PU,1981-02-23,Private Limited Company,Active,Private Limited Company,Active,23/02/1981,52290,52290,52290.0,0.0,S00090522,S01006648,S02001261,S12000033,George Street - 04,George Street,Aberdeen City,328.0
AB1 1PU,1991-05-22,Private Limited Company,Active,Private Limited Company,Active,22/05/1991,70100,70100,70100.0,0.0,S00090522,S01006648,S02001261,S12000033,George Street - 04,George Street,Aberdeen City,328.0
AB1 1UL,1988-03-28,Private Limited Company,Active,Private Limited Company,Active,28/03/1988,96090,96090,96090.0,0.0,S00090449,S01006571,S02001247,S12000033,West End North - 01,West End North,Aberdeen City,523.0
AB1 1UL,1972-04-14,Private Limited Company,Active,Private Limited Company,Active,14/04/1972,41100,41100,41100.0,0.0,S00090449,S01006571,S02001247,S12000033,West End North - 01,West End North,Aberdeen City,523.0
AB1 1XL,1990-09-26,Limited Partnership,Active,Limited Partnership,Active,26/09/1990,0,0,NaN,0.0,S00090448,S01006571,S02001247,S12000033,West End North - 01,West End North,Aberdeen City,700.0
AB1 1XL,1991-04-03,Limited Partnership,Active,Limited Partnership,Active,03/04/1991,0,0,NaN,0.0,S00090448,S01006571,S02001247,S12000033,West End North - 01,West End North,Aberdeen City,700.0
AB1 1YL,1984-12-05,Private Limited Company,Liquidation,Private Limited Company,Liquidation,05/12/1984,0,0,NaN,0.0,S00090448,S01006571,S02001247,S12000033,West End North - 01,West End North,Aberdeen City,633.0
AB1 1YL,1966-01-04,Private Limited Company,Liquidation,Private Limited Company,Liquidation,04/01/1966,0,0,NaN,0.0,S00090448,S01006571,S02001247,S12000033,West End North - 01,West End North,Aberdeen City,633.0
AB1 1YL,1897-11-16,Private Limited Company,Active,Private Limited Company,Active - Proposal to Strike off,16/11/1897,0,0,NaN,0.0,S00090448,S01006571,S02001247,S12000033,West End North - 01,West End North,Aberdeen City,633.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZE2 9RW,2010-09-02,Private Limited Company,Active,Private Limited Company,Active,02/09/2010,35210,43220,NaN,0.0,S00128993,S01012412,S02002327,S12000027,North Mainland - 03,North Mainland,Shetland Islands,2616545.0
ZE2 9RW,2007-08-02,Private Limited Company,Active,Private Limited Company,Active,02/08/2007,55100,55100,55100.0,0.0,S00128993,S01012412,S02002327,S12000027,North Mainland - 03,North Mainland,Shetland Islands,2616545.0
ZE2 9RX,2011-11-01,Private Limited Company,Active,Private Limited Company,Active,01/11/2011,35110,35110,35110.0,0.0,S00128996,S01012412,S02002327,S12000027,North Mainland - 03,North Mainland,Shetland Islands,2616546.0
ZE2 9RY,2005-10-19,Private Limited Company,Active,Private Limited Company,Active,19/10/2005,3210,3210,NaN,0.0,S00128995,S01012412,S02002327,S12000027,North Mainland - 03,North Mainland,Shetland Islands,2616547.0
ZE2 9SB,2006-06-07,Private Limited Company,Active,Private Limited Company,Active,07/06/2006,96090,96090,96090.0,0.0,S00129114,S01012402,S02002325,S12000027,Central Shetland - 01,Central Shetland,Shetland Islands,2616550.0
ZE2 9SB,2005-06-06,Private Limited Company,Active,Private Limited Company,Active,06/06/2005,1500,1410,NaN,0.0,S00129114,S01012402,S02002325,S12000027,Central Shetland - 01,Central Shetland,Shetland Islands,2616550.0
ZE2 9SB,2012-08-20,Private Limited Company,Active,Private Limited Company,Active,20/08/2012,0,3110,NaN,0.0,S00129114,S01012402,S02002325,S12000027,Central Shetland - 01,Central Shetland,Shetland Islands,2616550.0
ZE2 9SF,2006-08-11,Private Limited Company,Active,Private Limited Company,Active,11/08/2006,33190,33190,33190.0,0.0,S00129113,S01012402,S02002325,S12000027,Central Shetland - 01,Central Shetland,Shetland Islands,2616553.0
ZE2 9SF,2008-05-30,"PRI/LTD BY GUAR/NSC (Private, limited by guara...",Active,"PRI/LTD BY GUAR/NSC (Private, limited by guara...",Active,30/05/2008,94990,94990,94990.0,0.0,S00129113,S01012402,S02002325,S12000027,Central Shetland - 01,Central Shetland,Shetland Islands,2616553.0
ZE2 9SF,2013-03-19,Private Limited Company,Active,Private Limited Company,Active,19/03/2013,0,3110,NaN,0.0,S00129113,S01012402,S02002325,S12000027,Central Shetland - 01,Central Shetland,Shetland Islands,2616553.0
ZE2 9SG,2006-02-15,Private Limited Company,Active,Private Limited Company,Active,15/02/2006,80100,82110,NaN,0.0,S00128973,S01012405,S02002325,S12000027,Central Shetland - 04,Central Shetland,Shetland Islands,2616554.0
ZE2 9SG,2001-02-14,Private Limited Company,Active,Private Limited Company,Active,14/02/2001,80100,82110,NaN,0.0,S00128973,S01012405,S02002325,S12000027,Central Shetland - 04,Central Shetland,Shetland Islands,2616554.0
ZE2 9SG,1978-12-07,Private Limited Company,Active,Private Limited Company,Active,07/12/1978,77320,77320,77320.0,0.0,S00128973,S01012405,S02002325,S12000027,Central Shetland - 04,Central Shetland,Shetland Islands,2616554.0
ZE2 9SG,2006-09-25,Private Limited Company,Active,Private Limited Company,Active,25/09/2006,77390,77390,77390.0,0.0,S00128973,S01012405,S02002325,S12000027,Central Shetland - 04,Central Shetland,Shetland Islands,2616554.0
ZE2 9SG,2011-10-03,Private Limited Company,Active,Private Limited Company,Active,03/10/2011,3110,3110,NaN,0.0,S00128973,S01012405,S02002325,S12000027,Central Shetland - 04,Central Shetland,Shetland Islands,2616554.0
ZE2 9SG,2008-11-18,Community Interest Company,Active,Community Interest Company,Active,18/11/2008,46320,14310,NaN,0.0,S00128973,S01012405,S02002325,S12000027,Central Shetland - 04,Central Shetland,Shetland Islands,2616554.0
ZE2 9SL,2012-02-09,Private Limited Company,Active,Private Limited Company,Active,09/02/2012,82990,82990,82990.0,0.0,S00129075,S01012410,S02002327,S12000027,North Mainland - 01,North Mainland,Shetland Islands,2616557.0
ZE2 9TE,2011-04-13,Private Limited Company,Active,Private Limited Company,Active,13/04/2011,70229,70229,70229.0,0.0,S00129119,S01012411,S02002327,S12000027,North Mainland - 02,North Mainland,Shetland Islands,2616572.0
ZE2 9TG,2011-03-30,Private Limited Company,Active,Private Limited Company,Active,30/03/2011,70229,70229,70229.0,0.0,S00128997,S01012411,S02002327,S12000027,North Mainland - 02,North Mainland,Shetland Islands,2616574.0
ZE2 9TR,2011-05-12,Private Limited Company,Active,Private Limited Company,Active,12/05/2011,96090,96090,96090.0,0.0,S00129114,S01012402,S02002325,S12000027,Central Shetland - 01,Central Shetland,Shetland Islands,2616510.0
ZE2 9TZ,2009-06-25,Private Limited Company,Active,Private Limited Company,Active,25/06/2009,7487,46170,NaN,0.0,S00129075,S01012410,S02002327,S12000027,North Mainland - 01,North Mainland,Shetland Islands,2616697.0
ZE2 9TZ,2010-03-10,Private Limited Company,Active,Private Limited Company,Active,10/03/2010,46320,46380,NaN,0.0,S00129075,S01012410,S02002327,S12000027,North Mainland - 01,North Mainland,Shetland Islands,2616697.0
ZE2 9TZ,2010-06-10,Private Limited Company,Active,Private Limited Company,Active,10/06/2010,5530,56102,NaN,0.0,S00129075,S01012410,S02002327,S12000027,North Mainland - 01,North Mainland,Shetland Islands,2616697.0
ZE2 9TZ,2009-08-25,Private Limited Company,Active,Private Limited Company,Active,25/08/2009,99999,99999,99999.0,0.0,S00129075,S01012410,S02002327,S12000027,North Mainland - 01,North Mainland,Shetland Islands,2616697.0
ZE2 9UR,2008-01-28,Private Limited Company,Active,Private Limited Company,Active,28/01/2008,43341,43341,43341.0,0.0,S00129021,S01012411,S02002327,S12000027,North Mainland - 02,North Mainland,Shetland Islands,2616751.0
ZE2 9XJ,2006-02-15,Private Limited Company,Active,Private Limited Company,Active,15/02/2006,42990,41100,NaN,0.0,S00129114,S01012402,S02002325,S12000027,Central Shetland - 01,Central Shetland,Shetland Islands,2616774.0
ZE3 9JS,2004-06-08,Private Limited Company,Active,Private Limited Company,Active,08/06/2004,55100,55100,55100.0,0.0,S00129023,S01012387,S02002322,S12000027,Shetland South - 01,Shetland South,Shetland Islands,2616831.0
ZE3 9JS,2012-05-01,Private Limited Company,Active,Private Limited Company,Active,01/05/2012,0,41100,NaN,0.0,S00129023,S01012387,S02002322,S12000027,Shetland South - 01,Shetland South,Shetland Islands,2616831.0
ZE3 9JS,2007-08-03,Private Limited Company,Active,Private Limited Company,Active,03/08/2007,77330,77330,77330.0,0.0,S00129023,S01012387,S02002322,S12000027,Shetland South - 01,Shetland South,Shetland Islands,2616831.0
ZE3 9JS,2012-06-19,Private Limited Company,Active,Private Limited Company,Active,19/06/2012,0,79120,NaN,0.0,S00129023,S01012387,S02002322,S12000027,Shetland South - 01,Shetland South,Shetland Islands,2616831.0

In [31]:
joined.to_csv('Joined_Postcode.csv',index=True)

In [32]:
PC=pd.read_csv('Joined_Postcode.csv',na_values='')
PC.head(3)

,Postcode,incorporationdate,companycategory,companystatus,CompanyCategory,CompanyStatus,IncorporationDate,SIC_2013,SIC2018,SICcombine,usertype,oa11cd,lsoa11cd,msoa11cd,ladcd,lsoa11nm,msoa11nm,ladnm,FID
0,06 830,28/05/2008,Limited Partnership,Active,Limited Partnership,Active,28/05/2008,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,06 830,28/05/2008,Limited Partnership,Active,Limited Partnership,Active,28/05/2008,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,06 830,28/05/2008,Limited Partnership,Active,Limited Partnership,Active,28/05/2008,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
PC.count()

Postcode             1048575
incorporationdate    1048575
companycategory      1048575
companystatus        1048575
CompanyCategory      1048575
CompanyStatus        1048575
IncorporationDate    1048575
SIC_2013             1048575
SIC2018              1048575
SICcombine            790851
usertype             1045637
oa11cd               1045571
lsoa11cd             1045571
msoa11cd             1045571
ladcd                1045571
lsoa11nm             1045571
msoa11nm             1045571
ladnm                1040139
FID                  1045637
dtype: int64

In [ ]:
PC.sum()

In [27]:
result.head()

,usertype,oa11cd,lsoa11cd,msoa11cd,ladcd,lsoa11nm,msoa11nm,ladnm,FID,incorporationdate,companycategory,companystatus,CompanyCategory,CompanyStatus,IncorporationDate,SIC_2013,SIC2018,SICcombine
AB1 0AA,0,S00090303,S01006514,S02001237,S12000033,"Cults, Bieldside and Milltimber West - 02","Cults, Bieldside and Milltimber Wes",Aberdeen City,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AB1 0AB,0,S00090303,S01006514,S02001237,S12000033,"Cults, Bieldside and Milltimber West - 02","Cults, Bieldside and Milltimber Wes",Aberdeen City,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AB1 0AD,0,S00090399,S01006514,S02001237,S12000033,"Cults, Bieldside and Milltimber West - 02","Cults, Bieldside and Milltimber Wes",Aberdeen City,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AB1 0AE,0,S00091322,S01006853,S02001296,S12000034,"Dunecht, Durris and Drumoak - 01","Dunecht, Durris and Drumoak",Aberdeenshire,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AB1 0AF,1,S00090299,S01006511,S02001236,S12000033,Culter - 06,Culter,Aberdeen City,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN